	
p
	{
	color: yellow;
	font-family: "Comic Sans", cursive;
	}
h1
	
	{
	color: yellow;
	text-align: center;
	font-family: "Comic Sans", cursive;
	font-size: 50pt;
	}
body
	
	{
	text-align: center;
	background-color: red;
	color: yellow;
	}
.wrapper {
        text-align: center; 
    }
.wrapper ol {
        display: inline-block;
        margin: 0;
        padding: 0;
}
